@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  user-select: none;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top h1 {
  position: relative;
  font-size: 49px;
  text-align: center;
  color: #68361d;
  cursor: pointer;
  font-weight: 900;
}

.top h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #68361d;
  transition: all ease 2s;
}
.top h1:hover::after {
  width: 100%;
}

.main {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 580px;
  width: 800px;
  border: 2px solid rgb(136, 65, 65);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.container .Questions {
  font-size: 24px;
  border-bottom: 1px solid brown;
  height: 80px;
  text-align: center;
  background-color: #73452e;
  color: burlywood;
  padding: 10px 5px;
  cursor: pointer;
}
.Questions .h_2 {
  font-size: 70px;
}

.container .Answers {
  height: 400px;
  margin-top: 15px;
  border-top: 1px solid transparent;
  display: grid;
  flex-direction: column;
  text-align: center;
}
.container .Answers .options {
  height: 55px;
  width: auto;
  border-bottom: 1px solid brown;
  text-align: center;
  padding-inline: 10px 10px;
  background-color: #a27246;
  color: #552f1c;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.submit-btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
}
button {
  height: 60px;
  width: 100%;
  background-color: #73452e;
  border: none;
  color: burlywood;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.loader {
  border: 17px solid #a27246;
  border-top: 17px solid #73452e;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-block: 40px;
  transition: opacity 1s linear;
}
.score {
  display: none;
}

.score h3 {
  text-align: center;
  font-weight: 800;
  color: #552f1c;
  font-size: 70px;
}

.display_score {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #3e2011;
  font-weight: 900;
}

h6 {
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 10%;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #4a3119;
}
span {
  color: #73452e;
  font-size: 60px;
  font-weight: 900;
}
#pass {
  color: #68361d;
  font-size: 70px;
  font-weight: 900;
}

.score,
.display_score {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 770px) {
  header{
 height: 11vh;
  } 
  header .top h1{
    font-size: 40px;
  }
  .main{
    height: calc(100vh - 11vh);
  }
  .container{
    width: 81vw;
    height: 70vh;
  }
  .container .Questions{
    font-size: 14px;
    font-weight: 600;
    height: 20px;
  }
  .container .Answers{
    height: calc(70dvh - 79.8px);
        border-radius: 3px;
        gap: auto;
  }
.Answers .options{
  height: 20px ;
  width: 50px;
  font-size: 14px;
}
h4{
  font-size: 40px;
}

.loader{
  border: 20px solid #f3f3f3;
  border-top: 20px solid #3498db;
  height: 200px;
  width: 200px;
}

h6{
  font-size: 40px;
}
.display_score{
  font-size: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}
span{
  font-size: 25px;
}
#pass{
  font-size: 40px;
}
h6{
  font-size: 40px;
}
}
